.menu-title {
    font-family: 'Roboto', Arial, sans-serif;
    font-size: 2.5rem;
    color: #FF6384;
 
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-top: 20px;
}

.hamburger-icon {
    color: #FF0000;
   


.navbar-brand {
    font-family: 'Montserrat', sans-serif;
    font-size: 2rem;
    color: #FFFFFF;
  
}

.navbar {
    background-color: #FF8000;

}

.nav-item img {
    width: 1em;
    height: 1em;
    vertical-align: middle;
}

h3 {
    color: red;
    font-family: 'Comic Sans MS', sans-serif;
    border-bottom: 2px solid red;
}
.row{
	background-color: #98FB98;
}
